.nav{
  width: 100%;
}
.navitem{
  width: 33%;
  display: inline-block;
  text-align: center;
  background: #ba30a2;
}
.navitem a{
  display: inline-block;
  padding-top:30px;
  padding-bottom:30px;
  text-decoration: none;
  font-size: 30px;
  width: 100%;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
.navitem:hover{
  background:#772168;
}

.left-side{
  display: inline-block;
  float: left;
  width: 30%;
  min-height: 500px;
}

.right-side{
  display: inline-block;
  float: left;
  width: 70%;
  min-height: 500px;
}
