.nav{
  height: 70px;
  width: 1590px;
}
.navitem{
  width: 520px;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  background: #ba30a2;
}
.navitem a{
  padding-top:30px;
  display: inline-block;
  text-decoration: none;
  color: white;
  height: 70px;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
.navitem:hover{
  background:#772168;
}
